i {
  font-size: 1.5rem;
}

/* CLASS */

.container-fluid {
  width: auto;
  padding: 0;
}

.desktop-li {
  display: none;
}

.dropdown,
nav li {
  align-self: center;
}

.dropdown-menu {
  text-align: center;
}

.dropdown-menu[data-bs-popper] {
  position: absolute;
  left: unset;
  right: -110%;
}

.nav-container {
  justify-self: end;
}

.navbar {
  padding: 0;
}

.navbar__list {
  display: flex;
  gap: 20px;
}

/* RESPONSIVE */
@media all and (min-width: 1440px) {
  .desktop-li {
    display: inline;
  }

  .desktop-li__ul {
    display: flex;
    gap: 20px;
  }

  .desktop-li__ul a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .toggler-li {
    display: none;
  }
}
