/* CLASS */

.container-fluid {
  width: auto;
  padding: 0;
}

.desktop-li {
  display: none;
}

.desktop-li__ul a,
.connect-link {
  padding-top: 10px;
  padding-bottom: 10px;
}

.dropdown,
nav li {
  align-self: center;
}

.dropdown-menu {
  text-align: center;
}

.dropdown-menu[data-bs-popper] {
  position: absolute;
  left: unset;
  right: -110%;
}

.nav-container {
  display: flex;

  justify-self: end;
}

.navbar {
  padding: 0;
}

.navbar__list {
  display: flex;
  gap: 5px;
}

/* RESPONSIVE */
@media all and (min-width: 1440px) {
  .connect-ul {
    padding-left: 5px;

    border-left: 1px white solid;
  }

  .desktop-li {
    display: inline;
  }

  .desktop-li__ul {
    display: flex;

    padding-right: 5px;
  }

  .desktop-li__ul,
  .navbar__list {
    gap: 5px;
  }

  .navbar__list {
    gap: 0;
  }

  .toggler-li {
    display: none;
  }
}
