/* CLASS */

.update-form {
  background-color: rgba(77, 77, 77, 80%);
  border-radius: 20px;
  padding: 30px;
}

.update-form input {
  margin-bottom: 20px;
}

.update-form .form-btn,
.home-btn {
  align-self: center;
}

.update-section .update-form {
  gap: 0;
}
