section[class*="section-"] {
  border-radius: 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 20px 5px;
}

/* CLASS */

.intro-section h1 {
  margin-bottom: 10px;
}

.topic-theme {
  gap: 20px;

  background-image: none;
  background-color: #dee9f4;
}

.topic-theme h1,
.topic-theme h2 {
  text-align: center;
}

.topic-theme {
  color: black;
}

.topic-txt {
  white-space: pre-line;
}

.topic-section {
  gap: 10px;
  background-color: unset;
}

.topic-img {
  align-self: center;

  max-height: 200px;
  min-height: 50px;
}

/* RESPONSIVE */
@media all and (min-width: 1440px) {
  section[class*="section-"] {
    padding: 20px 100px;
  }

  .topic-section {
    gap: 20px;
  }
}
