footer {
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 40px 20px;
  background-color: #355e86;
}

/* CLASS */

.copyrights {
  font-size: 0.9rem;
  text-align: center;
}

.norms {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.norm-link {
  text-decoration: none;
}

/* RESPONSIVE */
@media all and (min-width: 1440px) {
  footer {
    padding: 40px 150px;
  }
}
