/* CLASS */

.norms-link {
  padding: 0;
  text-wrap: wrap;
}

.norms-theme address {
  margin: 0;

  display: inline;

  text-wrap: nowrap;
}

.norms-theme section {
  background-color: rgba(55, 94, 134, 0.8);
  gap: 0;
  padding: 10px 20px;
}

/* RESPONSIVE */
@media all and (min-width: 1440px) {
  .norms-theme section {
    padding: 20px;
  }
}
